@import "./styles/fonts.css";
@import "./styles/typography.css";

@import "./styles/animation.css";
@import "./styles/fluid-type.css";
@import "./styles/accessibility.css";

@import "./styles/main.css";
@import "./styles/grid.css";

@import "tailwindcss";

@source "../../../packages/sanity";
@source "./";

@theme {
	--font-serif: "ES Face", serif;
	--font-sans: "Acid Grotesk", sans-serif;
	--font-mono: "Suisse Mono", monospace;

	--breakpoint-*: initial;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1920px;

	--spacing: 0.1rem;

	--color-primary: #f4f5f4;
	--color-inverted: #373e3d;
	--color-accent: #159c88;

	--ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-expo-in-out: cubic-bezier(1, 0, 0, 1);

	--ease-quint-out: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-quint-in: cubic-bezier(0.76, 0, 0.24, 1);
	--ease-quint-in-out: cubic-bezier(0.86, 0, 0.07, 1);
}

html[data-theme="dark"] {
	--color-inverted: #f4f5f4;
	--color-primary: #2f3231;
	--color-accent: #07d2a1;
}

* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

/* utilities */

@utility flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	overscroll-behavior-y: none;
}

#app {
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.lenis.lenis-stopped {
	overflow: clip;
}
