code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
	white-space: pre-line;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/* 
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
	background: #cceae7;
	color: #263238;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
	background: #cceae7;
	color: #263238;
} */

:not(pre) > code[class*="language-"] {
	white-space: normal;
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #dc6544;
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: #7c4dff;
}

.token.attr-name {
	color: #34868b;
}

.token.attr-value {
	color: #d39236;
}

.token.attribute {
	color: #d39236;
}

.token.boolean {
	color: #7c4dff;
}

.token.builtin {
	color: #31939a;
}

.token.cdata {
	color: #31939a;
}

.token.char {
	color: #31939a;
}

.token.class {
	color: #31939a;
}

.token.class-name {
	color: #6182b8;
}

.token.comment {
	color: #869eaa;
}

.token.constant {
	color: #7c4dff;
}

.token.deleted {
	color: #e53935;
}

.token.doctype {
	color: #869eaa;
}

.token.entity {
	color: #e53935;
}

.token.function {
	color: #7c4dff;
}

.token.hexcode {
	color: #dc6544;
}

.token.id {
	color: #7c4dff;
	font-weight: bold;
}

.token.important {
	color: #7c4dff;
	font-weight: bold;
}

.token.inserted {
	color: #31939a;
}

.token.keyword {
	color: #7c4dff;
}

.token.number {
	color: #dc6544;
}

.token.operator {
	color: #31939a;
}

.token.prolog {
	color: #869eaa;
}

.token.property {
	color: #31939a;
}

.token.pseudo-class {
	color: #d39236;
}

.token.pseudo-element {
	color: #d39236;
}

.token.punctuation {
	color: #31939a;
}

.token.regex {
	color: #6182b8;
}

.token.selector {
	color: #e53935;
}

.token.string {
	color: #d39236;
}

.token.symbol {
	color: #7c4dff;
}

.token.tag {
	color: #e53935;
}

.token.unit {
	color: #dc6544;
}

.token.url {
	color: #e53935;
}

.token.variable {
	color: #e53935;
}
