body {
	--sbw: calc(100vw - 100%);
	@apply font-sans bg-primary text-inverted;
}

html {
	scrollbar-gutter: both-edges;
}

::selection {
	@apply bg-inverted/17;
}

[data-portable] {


	&
		*:not(
			img,
			code, 
			pre,
			pre > *,
			code > *,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			td,
			th,
			tr,
			thead,
			tbody,
			ul,
			ol,
			a,
			div:has(table)
		) {
		opacity: 0.7;

		em {
			opacity: 1 !important;
		}
	}
}
