@utility heading-1 {
	font-size: max(var(--min-font-size), 7.8rem);
	letter-spacing: -0.02em;
	line-height: 1.27;
	@apply font-serif;
}

@utility heading-2 {
	font-size: max(var(--min-font-size), 6.4rem);
	letter-spacing: -0.02em;
	line-height: 1.27;
	@apply font-serif;
}

@utility heading-3 {
	font-size: max(var(--min-font-size), 4rem);
	letter-spacing: -0.02em;
	line-height: 1.27;
	@apply font-serif;
}

@utility heading-5 {
	font-size: max(var(--min-font-size), 1.5rem);
	letter-spacing: -0.01em;
	font-weight: 140;

	@media screen and (max-width: 1024px) {
		font-size: max(var(--min-font-size), 2.7rem);
	}
}

@utility body-1 {
	font-size: max(var(--min-font-size), 1.9rem);
	letter-spacing: -0.02em;
	line-height: 1.45;
	@apply font-serif;

	@media screen and (max-width: 1024px) {
		font-size: max(var(--min-font-size), 2.3rem);
	}
}

@utility body-2 {
	font-size: max(var(--min-font-size), 1.05rem);
	letter-spacing: -0.02em;
	line-height: 1.27;
}

@utility eyebrow {
	text-transform: uppercase;
	font-size: max(var(--min-font-size), 1rem);
	font-weight: 130;
	@apply font-sans;
	letter-spacing: 0.02em;
}
